.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

/* Input Field */
.header-searchInput {
  height: 20px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.header-searchInput:focus {
  border: 2px #ff9900 solid;
  border-right-style: none;
  padding: 8px 10px 8px 8px;
}

/* Search Icon */
.header-searchIcon {
  padding: 5px 10px;
  background-color: #cd9042;
  height: 30px !important;
  border-radius: 0 4px 4px 0;
}
.header-searchInput:focus + .header-searchIcon {
  border: 2px #ff9900 solid;
  border-left-style: none;
  padding: 3px 8px 3px 10px;
}

/* Header Options */
.header-nav {
  display: flex;
  justify-content: space-evenly;
}
.header-option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: #fff;
}
.header-optionLineOne {
  font-size: 10px;
}
.header-optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header-optionBasket {
  color: #fff;
  display: flex;
  align-items: center;
}
.header-basketCount {
  margin: 0 10px;
}
